<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@chef) do |form| %>
      <%= form.label :chefname %>
      <%= form.text_field :chefname %>
      
      <%= form.label :email %>
      <%= form.email_field :email %>
      
      <%= form.label :password %>
      <%= form.password_field :password %>
      
      <%= form.submit(btn_title, class: "btn btn-success") %>
    <% end %>
  </div>
</div>
