<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @recipe do |form| %>
      <%= form.label :name %>
      <%= form.text_field :name %>
      
      <%= form.label :summary %>
      <%= form.text_field :summary %>
      
      <%= form.label :summary %>
      <%= form.text_area :description, rows: 10 %>
      
      <%= form.submit(btn_title, class: "btn btn-success") %>
    <% end %>
  </div>
</div>